:root {
    --text-color: #FFA000;
}

body {
    color: var(--text-color)
}

.header {
    background-color: rgb(13, 133, 133);

}

.nav {
    background-color: rgb(99, 144, 144);
}

.main {
    background-color: rgb(128, 0, 255);
}

.footer {
    background-color: rgb(255, 0, 255);
}

.container {
    grid
}